.addCommittee {
    height: 50px;
    line-height: 50px;
    color: #8fd68b;
    text-align: center;
    overflow: hidden;
}

.addCommittee input {
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #8fd68b;
    width: 200px;
    height: 20px;
    outline: none;
    padding: 5px;
}

.addCommittee button {
    background-color: #8fd68b;
    border: none;
    border-radius: 4px;
    color: #f3f2f2;
    width: 80px;
    height: 30px;
}