.renderOrderNav {
    height: 40px;
    line-height: 40px;
    display: flex;
    text-align: center;
}

.title {
    color: #ffffff;
    margin-top: 10px;
    background-color: #8fd68b;
}

.title li {
    font-size: 14px;
}

.renderOrderNav li {
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ffffff;
}

.type:nth-child(2n) {
    color: #999999;
    background-color: #b4e3b1;
}

.type:nth-child(2n+1) {
    color: #8fd68b;
    background-color: #e9f7e8;
}

.navBigger {
    padding: 0 5px;
    box-sizing: border-box;
    font-size: 13px;
    width: 180px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 1
}

.navSmall {
    font-size: 14px;
    width: 70px;
}

.navmiddle {
    font-size: 13px;
    width: 110px;
}

.navTime {
    font-size: 14px;
    width: 180px;
}

.enter {
    cursor: pointer;
}