h1{
	font-size:18px;
	margin:0px;
	text-align:center;
}
.publicModelFrame{
	position: absolute;
	left: 300px;
	height: 600px;
	width: 700px;	
}
.publicModelFrame_con{
	margin: 0 auto;
	margin-top: 50px;
	padding-top:20px;
	width: 630px;
	height: 480px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 10px;
}
input{
	border-radius:4px;
}
select{
	border-radius:4px;
}
input:focus{
	outline:none;
}
select:focus{
	outline:none;
}
.modelButton{
	padding: 3px 15px;
    background:#8fd68b;
    color: #fff;
    border: 2px solid rgba(255,255,255,0.8);
	border-radius:5px;
    font-weight: bold;
    font-family: "微软雅黑", "Microsoft Yahei", "黑体", sans-serif
}
li{
	list-style:none;
}


/*分页部分*/
.pager{
	overflow: hidden;
	font-family: Arial;
	display: block;
	width: 100%;
}
.pages{
	position:relative;
	bottom:10px;
	text-align:center;
}
.pager .pages .page-item{
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	vertical-align: middle;	
}
.pager .pages .page-item button{
	color: #222;
	cursor: pointer;
	outline: none;
	text-align: center;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
	background-image: none;
	transition: all .2s;
	font-size: 14px;
	min-width: 15px;
	margin: 0 auto;
	padding: 0 10px;
	float: left;
	display: block;
	height: 30px;
	line-height: 30px;
}
.pager .pages .page-item button:hover{
	background-color:#8fd68b;	
}
.pager .pages .page-item .select{
	background-color:#8fd68b;	
}