h1{
	font-size:18px;
	text-align:center;
	padding-top:5px;
}
.CurrentAnnouncement{
	position: absolute;
	left: 300px;
	height: 600px;
	width: 700px;	
}
.CurrentAnnouncement_con{
	margin: 0 auto;
	margin-top: 50px;
	width: 630px;
	height: 500px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 10px;
}
.Announce{
	width:616px;
	margin:0 auto;
}
.Announce table{
	margin:0 auto;	
	width:618px;
	color:#FFFFFF;
	cellspacing:0; 
	cellpadding:0;
}
.Announce table tr td{
	width:75.2px;
	background-color:#8fd68b;
	text-align:center;
	border-radius:5px;
	padding:5px 0;
}
.Announce table tr td a{
	text-decoration:none;
	color:#ffffff;
}
.Announce table tr td a:hover{
	text-decoration:underline;
}
.AnnounceText{
	width:630px;
	padding:0px;
}
.AnnounceText textarea{
	width:610px;
	height:150px;
	margin:50px 0 0 7px;
	background:none;
	border-radius:8px;
	font-size:16px;
	border:2px solid #8fd68b;
}
.ReleaseAnnounce select{
	width:100px;
	height:40px;
	background:none;
	color: #00CC66;
	border-radius:5px;
	margin-left:400px;
	border:2px solid #8fd68b;
}
.ReleaseAnnounce a{
	background-color:#8fd68b;
	color:#FFFFFF;
	margin-left:15px;
	padding:4px;
	border-radius:5px;
	text-decoration:none;
	width:60px;
	border:1px solid #8fd68b;
}
.ReleaseAnnounce a:hover{
	text-decoration:underline;
}