/* CSS 长模板*/
.model{
	width:700px;
	margin:0 auto;	
	margin-top:10px;
	color:#6e876c;
}
.model .model-Input{
	padding-left:10px;
	position:realtive;
	top:25px;
	width:690px;
	height:35px;
	border:none;
	color:#6e876c;	
	border-radius:4px;
}
.model textarea{
	padding-left:10px;
	padding:5px 10px 5px 10px;
	position:realtive;
	top:25px;
	width:680px;
	height:45px;
	border:none;
	color:#6e876c;	
	border-radius:4px;
}
.model form{
	margin-top:10px;
	position:realtive;
	top:45px;
	width:700px;
	height:25px;
}
.model .departure{
	border:none;
	height:35px;
	font-size:16px;
	text-align:center;
	border-radius:4px;
}
.model .modelTitle{
	width:700px;
}


/* CSS 详情部分模板 */
.modelDetails{
	width:500px;
	margin:0 auto;	
	margin-top:10px;
	color:#6e876c;
}
.modelDetails .modelTitle{
	width:340px;
}
.modelDetails .model-Input{		
	padding-left:10px;
	position:realtive;
	top:25px;
	width:488px;
	height:35px;
	border:none;
	color:#6e876c;	
	border-radius:4px;
}
.modelDetails .departure{
	border:none;
	height:35px;
	font-size:16px;
	text-align:center;
	border-radius:4px;
}
.modelDetails textarea{
	padding:5px 10px 5px 10px;
	position:realtive;
	top:25px;
	width:478px;
	height:50px;
	border:none;
	color:#6e876c;	
	border-radius:4px;
}
.modelDetails form{
	margin-top:10px;
	position:realtive;
	top:45px;
	width:450px;
	height:25px;
}
